.nav>li {
    display:inline-block; 
}

.nav>li>a {
    padding: 0px 10px 0px 5px;
}

.rightBorder {
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #cccccc;
    padding-right: 5px;
}

.navbar {
    border-top: 0px;
}

a#name.navbar-brand {
    margin-left:0px;
}

.navbar-default {
    background-color: #ffffff;
    height: auto;
}

.navbar-nav {
    text-align: center;
    margin: 25px 0px 25px 0px;
    
}

.navbar-toggle {
    margin-top: 18px;
    margin-right: 20px;

}

a.navbar-brand {
    background-color: #4aaaa5;
    font-size: 150%;
    font-family: "Georgia";
    font-weight: bold;
    height: auto;
    padding: 25px;
}

.container-fluid>.navbar-header {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.navbar>.container-fluid {
    margin: 0px 0px 0px 0px;
}
/* Sorry, had to use id on this one to get the color correct without hosting
    and digging into bootstrap.css */
#name {
    color: #ffffff;
    
}

#name:hover {
    background-color: #4aaaa5;
    
}

body {
    background-image: url("../images/concrete.png")
}

a {
    text-decoration: none;
}

h2 {
    font-size: 150%;
    font-family: "Georgia";
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #dddddd;
    padding: 0px 0px 10px 0px;
    margin: 15px 0px 15px 0px;
}

h3 {
    font-size: 125%;
    font-family: "Georgia";
    font-weight: bold;
    color: #4aaaa5;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #dddddd;
    padding: 0px 0px 10px 0px;
    margin: 15px 15px 5px 15px;
}

h4 {
    font-family: "Georgia";
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px;
    text-align: center;
}

p {
    color: #777777;
}

.self {
    height: auto;
    width: 220px;
    float: left;
    margin: 0px 15px 10px 0px;
}

.sub-container {
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #ffffff;
    margin-top: 1px;
    margin:0px 15px 20px 15px;
}

.input-group {
    margin: 10px;
}

div.content-container {
    margin: 0px 0px 85px 0px;
} 

.formarea {
    margin: 0px 0px 15px 0px;
}

.message {
    height: 200px;
}

button {
    font-family: "Arial";
    font-size: 90%;
    color: #ffffff;
    margin: 0px 0px 0px 10px;
    background-color: #4aaaa5;
    border: none;
}

.connect {
    background-color: #ffffff;
    height: 130px;
    width: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    margin: 0px 15px 0px 15px;
    text-align: center;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.connectimg {
    height: 70px;
    width: 70px;
    padding: 15px;
}

.connectimg1 {
    height: 70px;
    width: 75px;
    padding: 15px;
}

.row {
    margin: 0px;
}

footer {
    position: fixed;
    bottom: 0px;
    height: auto;
    width: 100%;
    background-color: #666666;
    font-family: "arial";
    font-size: 90%;
    color: #ffffff;
    padding: 25px 0px 25px 0px;
    margin-bottom: 0px;
    margin-top: 1px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 5px;
    border-color: #4aaaa5;
    z-index: 5; 
} 